
<%= render layout: 'components/app' do %>
    <div class="dynamic-content">
        <p>all tasks test</p>

        <% if flash[:notice] %>
            <p><%= flash[:notice] %></p>
        <% end %>

        <ul>
            <% @tasks.each do |task| %>
            <li><%= link_to task.description, task_show_path(task.id) %></li>
            <% end %>
        </ul>

        <%= link_to "new task", tasks_new_path %>
    </div>
<% end %>