<%= render layout: 'components/front' do %>
    <h1 class="text-6xl font-medium text-primary-400 p-4 drop-shadow-md">JApp</h1>
    <h2 class="italic text-xl mb-32">your private journal</h2>

<% end %>