/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#nav-menu {
  display: none;
  flex-flow: column nowrap;
  justify-items: flex-start;
  align-items: stretch;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  min-width: min-content;
  color: black;
  text-align: right;
}
#nav-menu > * {
  display: block;
  padding: 0.5rem 1rem;
}
#nav-menu > *:hover {
  background-color: hsl(0, 0%, 0%, 0.1);
}

#nav-button:checked ~ #nav-menu {
  display: flex;
}
