/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#nav-menu {
  display: none;
  flex-flow: column nowrap;
  justify-items: flex-start;
  align-items: stretch;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  min-width: min-content;
  color: black;
  text-align: right;
}
#nav-menu > * {
  display: block;
  padding: 0.5rem 1rem;
}
#nav-menu > *:hover {
  background-color: hsl(0, 0%, 0%, 0.1);
}

#nav-button:checked ~ #nav-menu {
  display: flex;
}

.label-links {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: end;
  color: white;
  background-color: hsl(0, 0%, 60%, 1);
  box-shadow: inset 0px 1px 10px 1px hsl(0, 0%, 0%, 0.25);
  isolation: isolate;
  overflow: hidden;
}
.label-links > * {
  padding: 0.25rem 2rem;
  margin-inline-end: -2.5%;
  margin-block: -1px;
  box-shadow: -1px 0px 10px 1px hsl(0, 0%, 0%, 0.25);
  text-transform: uppercase;
  letter-spacing: 0.25ch;
  transition: transform 250ms ease-in-out;
  z-index: 1;
}
.label-links > *:hover {
  z-index: 3;
  transform: scale(1.05);
}
.label-links > *.current {
  z-index: 2;
  transform: scale(1.05);
}

.dynamic-content {
  height: inherit;
  z-index: 2;
}

.paper {
  position: relative;
  padding: 0.5rem;
  isolation: isolate;
  border-radius: 0.5rem;
  background-color: white;
}
.paper::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0.5rem;
  background: repeating-linear-gradient(
    transparent,
    transparent 17px,
    hsl(0, 0%, 0%, 0.4) 18px
  );
}

.categories.cork .sticky-note {
  margin-block-end: -6%;
}

.cork {
  background-image: url("/assets/cork.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 500px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: -3px 3px 0px 0px hsl(0, 0%, 0%, 0.75);
}

.sticky-note {
  position: static;
  background-color: hsl(60, 80%, 70%);
  padding: 1rem;
  width: min(250px, 90%);
  min-height: 120px;
  transform-origin: center;
  box-shadow: 1px 1px 4px 2px hsl(0, 0%, 0%, 0.1);
  word-break: break-all;
  transition: all 250ms ease-in-out;
  font-size: 2rem;
}

.sticky-note input,
.sticky-note textarea {
  font-size: 2rem;
}
.sticky-note input:focus,
.sticke-note textarea:focus,
.paper input:focus,
.paper textarea:focus,
.paper select:focus {
  outline: none !important;
  border-color: black !important;
  box-shadow: none !important;
}

.sticky-note > .title {
  text-decoration: underline;
}

.field_with_errors > * {
  width: 100%;
}

.success-message,
.error-message {
  font-size: 1rem;
  line-height: normal;
}

.new-task :where(label, input, textarea, select) {
  background-color: transparent !important;
  border: 0;
  /* border-bottom: 3px solid black; */
}

.new-task :where(input:not([type="submit"]), select, textarea) {
  /* border-bottom: 3px solid black !important; */
  font-family: "Reenie Beanie", "cursive";
  font-size: 2rem !important;
}

.new-task label {
  opacity: 0.75;
}

.select2.select2-container.select2-container--default
  *
  :not(.select2-selection__choice) {
  background-color: transparent !important;
  border: 0 !important;
  font-family: "Reenie Beanie", "cursive";
  font-size: 2rem !important;
}
/* .select2.select2-container.select2-container--default {
  border-bottom: 3px solid black;
} */

.select2-selection__choice {
  background-color: hsla(64, 100%, 50%, 0.1) !important;
  cursor: pointer !important;
}

.bookmark {
  margin-block-end: -8%;
  z-index: 1;
  box-shadow: 0px 2px 5px 1px hsl(0, 0%, 0%, 0.25);
  transition: all 250ms ease-in-out;
}
.bookmark:hover {
  scale: 1.05;
  z-index: 2;
}

.bookmark.active {
  scale: 1.05;
  z-index: 2;
}

.sticky-note {
  scrollbar-width: thin;
}

.sticky-note::-webkit-scrollbar {
  width: 6px;
}

.sticky-note::-webkit-scrollbar-track {
  background-color: hsl(64, 94%, 84%);
}

.sticky-note::-webkit-scrollbar-thumb {
  background-color: hsl(58, 83%, 56%);
  border-radius: 3px;
}
