/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#nav-menu {
  display: none;
  flex-flow: column nowrap;
  justify-items: flex-start;
  align-items: stretch;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  min-width: min-content;
  color: black;
  text-align: right;
}
#nav-menu > * {
  display: block;
  padding: 0.5rem 1rem;
}
#nav-menu > *:hover {
  background-color: hsl(0, 0%, 0%, 0.1);
}

#nav-button:checked ~ #nav-menu {
  display: flex;
}

.label-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: end;
  color: white;
  background-color: hsl(0, 0%, 60%, 1);
  box-shadow: inset 0px 1px 10px 1px hsl(0, 0%, 0%, 0.25);
  isolation: isolate;
}
.label-links > * {
  padding: 0.25rem 2rem;
  margin-inline-end: -4%;
  margin-block: -1px;
  box-shadow: -1px 0px 10px 1px hsl(0, 0%, 0%, 0.25);
  text-transform: uppercase;
  letter-spacing: 0.25ch;
  z-index: 1;
  transition: transform 250ms ease-in-out;
}
.label-links > *:hover,
.label-links > *.current {
  z-index: 2;
  transform: scale(1.05);
}

.dynamic-content {
  position: relative;
  background-color: white;
  height: 100%;
  z-index: 3;
}
