<li class="sticky | flex flex-col" style="transform: rotate(<%= rand(-4..4)%>deg);" onmouseover="this.style.transform='rotate(0deg) translateY(-16%)';" onmouseout="this.style.transform='rotate(<%= rand(-4..4)%>deg)'">
    <%= link_to category.name, category_show_path(category.id), class: 'title capitalize' %>
    <span class="text-2xl"><%= category.description%></span>
</li>